<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddSite</servlet-name>
        <servlet-class>controller.site.AddSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSite</servlet-name>
        <servlet-class>controller.site.UpdateSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSite</servlet-name>
        <servlet-class>controller.site.ListSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailSite</servlet-name>
        <servlet-class>controller.site.DetailSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSite</servlet-name>
        <servlet-class>controller.site.DeleteSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>controller.employee.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmployee</servlet-name>
        <servlet-class>controller.employee.ListEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailEmployee</servlet-name>
        <servlet-class>controller.employee.DetailEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>controller.employee.DeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>controller.employee.UpdateEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSite</servlet-name>
        <url-pattern>/add-site</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSite</servlet-name>
        <url-pattern>/update-site</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSite</servlet-name>
        <url-pattern>/list-site</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailSite</servlet-name>
        <url-pattern>/site-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSite</servlet-name>
        <url-pattern>/delete-site</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/add-employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmployee</servlet-name>
        <url-pattern>/list-employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailEmployee</servlet-name>
        <url-pattern>/detail-employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/delete-employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/update-employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
