<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddSite</servlet-name>
        <servlet-class>controller.site.AddSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSite</servlet-name>
        <servlet-class>controller.site.UpdateSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSite</servlet-name>
        <servlet-class>controller.site.ListSite</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSite</servlet-name>
        <url-pattern>/add-site</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSite</servlet-name>
        <url-pattern>/update-site</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSite</servlet-name>
        <url-pattern>/list-site</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
