@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jura", sans-serif;
}

/* img {
    width: 100%;
    height: 100%;
} */